@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?mu3tje');
    src:  url('../fonts/icomoon.eot?mu3tje#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?mu3tje') format('truetype'),
      url('../fonts/icomoon.woff?mu3tje') format('woff'),
      url('../fonts/icomoon.svg?mu3tje#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-phone:before {
    content: "\e942";
  }
  .icon-location2:before {
    content: "\e948";
  }
  .icon-mail:before {
    content: "\ea83";
  }
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-twitter:before {
    content: "\ea96";
  }/*Icons and fonts from icomoon.io*/

body{

    margin: 0px;
}
figure{

    margin: 0;
}

ul{

    list-style: none;
}
h1,
h3{

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
p{

    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
}
a{

    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}
.heeader-hero{

    background-image: url('../images/bg-hero-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header-url {
    
    color: rgb(0, 0, 0);
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 12px 70px;
    border-radius: 30px;
    box-shadow: 0px 0px 18px  #eeeeee;
}
.hero{
    
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hero h1{

    font-size: 40px;
}
.hero-url {
    
    color: rgb(255, 255, 255);
    background-color: #FF52BF;
    border-radius: 30px;
    text-decoration: none;
    padding: 18px 65px;
    font-size: 14px;
}
.container {
    
    max-width: 1240px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}
.custom-information{
    
    height: 1400px;
    width: 100%;
    margin-top: 150px;
}
.information-details,
.information-item img{

    margin-left: 100px;
}
.information-details h3{

    font-size: 25px;
}
.information-details p{

    color: #9B9FA2;
}
.information-item{

    box-shadow: 0 0 10px #e8e8e8;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 60px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.build{
    
    height: 260px;
    width: 800px;
    box-shadow: 0 0 10px #e8e8e8;
    border-radius: 15px;
    position: relative;
    margin: 50px auto 0px auto;
    bottom: -100px;
    z-index: 1;
    background-color: white;
    text-align: center;
}
.build h1{

    font-size: 32px;
    margin-bottom: 60px;
    padding-top: 60px;   
}
.build-url{

    color: rgb(255, 255, 255);
    background-color: #FF52BF;
    border-radius: 50px;
    text-decoration: none;
    padding: 25px 100px;
    margin-bottom: -20px;
    font-size: 18px;
    box-shadow: 0px 0px 18px #cdcccc;
}
.contact{
    
    height: 400px;
    width: 100%;
    background-color: #00252D;
    display: flex;
    flex-wrap: wrap;
    padding-top: 90px;
}
.contact,.footer{

    color: #D4E6E8;
    font-family: 'Open Sans', sans-serif;
}
.contact img{
    
    margin-bottom: 25px;
}
.contact-data{

    width: 33%;
    padding-top: 100px;
    margin-left: -50px;
}
.contact-location,
.contact-phone,
.contact-mail{

    display: flex;
    margin-top: 10px;
    margin-right: 5px;
}
.contact-data p{

    
    margin: 0 0 15px 20px;
    font-size: 16px;
    line-height: 1.5em;
}
.icon-location2{

    font-size: 20px;
    margin-top: 10px;
}
.icon-phone{

    margin-top: 0;
}
.contact-info{

    width: 33%;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 18px;
    margin-top: 110px;
    margin-left: 60px;
}
.contact-list-one{

    margin-right: 90px;
}
.social{

    width: 33%;
    display: flex;
    align-items: center;
}
.social-link{

    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
    color:inherit;
    font-size: 20px;
}
.facebook{

    margin-left: 172px;
}
.footer{
    
    height: 80px;
    width: 100%;
    background-color: #00252D;
    display: inline-block;
    align-items: center;
    text-align: right;
}
.copyright{

    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-right: 80px;
}
.attribution{

    margin-right: 80px;
}
.attribution a{

    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}