@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?bp96dc');
    src:  url('../fonts/icomoon.eot?bp96dc#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?bp96dc') format('truetype'),
      url('../fonts/icomoon.woff?bp96dc') format('woff'),
      url('../fonts/icomoon.svg?bp96dc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-phone:before {
    content: "\e942";
  }
  .icon-location2:before {
    content: "\e948";
  }
  .icon-mail:before {
    content: "\ea83";
  }
  .icon-facebook2:before {
    content: "\ea91";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-twitter:before {
    content: "\ea96";
  }/*Icons and fonts from icomoon.io*/

body{

    margin: 0px;
}
figure{

    margin: 0;
}

ul{

    list-style: none;
}
h1,
h3,
a{

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
p{

    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
}
.heeader-hero{

    background-image: url('../images/bg-hero-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header a {
    
    
}
.header-url {
    
    color: rgb(0, 0, 0);
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 12px 70px;
    border-radius: 30px;
    box-shadow: 0px 0px 18px  #eeeeee;
}
.hero{
    
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hero h1{

    font-size: 40px;
}
.hero-url {
    
    color: rgb(255, 255, 255);
    font-size: 14px;
    background-color: #FF52BF;
    text-decoration: none;
    padding: 18px 65px;
    border-radius: 30px;
}
.container {
    
    max-width: 1240px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}
.custom-information{
    
    height: 1400px;
    width: 100%;
    margin-top: 150px;
}
.information-details,
.information-item img{

    margin-left: 100px;
}
.information-details h3{

    font-size: 25px;
}
.information-details p{

    color: #9B9FA2;
}
.information-item{

    box-shadow: 0 0 10px #e8e8e8;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 60px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.build{
    
    height: 280px;
    width: 800px;
    box-shadow: 0 0 10px #e8e8e8;
    border-radius: 15px;
    position: relative;
    margin: -50px auto 0px auto;
    bottom: -100px;
    z-index: 1;
    background-color: white;
    text-align: center;
}
.build h1{
    
    padding-top: 75px;
}
.build a {
    
    background-color: #FF52BF;
}
.contact{
    
    height: 400px;
    width: 100%;
    background-color: #00252D;
    display: flex;
    flex-wrap: wrap;
}
.contact,.footer{

    color: white;
}
.contact img{
    
    margin-bottom: 25px;
}
.contact-data{

    width: 33%;
    padding-top: 100px;
    margin: 0 auto;
}
.contact-location,
.contact-phone,
.contact-mail{

    display: flex;
    margin-top: 15px;
}
.contact-data p{

    margin: 0 0 16px 15px;
}
.contact-data span{

    font-size: 20px;
}
.icon-phone{

    margin-top: 0;
}
.contact-info{

    width: 33%;
    display: flex;
    align-items: center;
    text-align: left;
}
.social{

    width: 33%;
    display: flex;
    align-items: center;
}
.social-link{

    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color:inherit;
    font-size: 20px;
}
.footer{
    
    height: 80px;
    width: 100%;
    background-color: #00252D;
    display: inline-block;
    align-items: center;
    text-align: right;
    
}
.attribution a{
    text-decoration: none;
    color: inherit;
}